
.contenedor {
    max-width: 100%;
    margin: 3rem auto;
    text-align: center;
    color: rgb(75, 3, 39);
}
form {
	display: block;
	margin: 5rem auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    padding: 24px;
    border-radius: 12px;
    background-color: rgb(186, 119, 250);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form label {
    font-weight: bold;
    display: block;
    margin-top: 16px;
    margin-bottom: 6px;
}

form input[type="text"],
form input[type="email"],
form input[type="checkbox"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(75, 3, 39);
    border-radius: 5px;
    background-color: #f6f6f6;
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

#acceptTerms {
    width: auto;
    margin-right: 10px;
}

#submitBtn {
    width: 100%;
    padding: 12px;
    margin-top: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(75, 3, 39);
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submitBtn:disabled {
    background-color: rgb(50, 2, 26);
}

#submitBtn:hover:not(:disabled) {
    background:rgb(188, 1, 95);
  }

textarea {
    resize: none;
    height: 120px;
}

/* Media Query para moviles */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 3rem;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar a {
        padding: 12px 20px;
        font-size: 1.2rem;
    }

	form {
		display: block;
		margin: 5rem auto;
		box-sizing: border-box;
		width: 80%;
		max-width: 300px;
		padding: 24px;
		border-radius: 12px;
		background-color: rgb(186, 119, 250);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}
	

    footer h3 {
        font-size: 1.8rem;
    }

    footer img {
        width: 60px;
        height: 60px;
    }

    footer ul {
        flex-direction: column;
    }

    footer ul li {
        margin-bottom: 0.5rem;
    }
}

  